.container_46{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    color: rgb(17, 17, 17);
}

.grid_46{
    display: grid;
    grid-template-columns: repeat(4, 70px);
    gap: 10px;
    background: linear-gradient(145deg, #020617, #040b2b);
    padding: 14px;
    border-radius: 20px;
    box-shadow: 0 30px 80px rgba(0, 0, 0, 0.6);
    user-select: none;
}

.cell_46{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(145deg, #1e293b, #020617);
    border-radius: 16px;
    border: 2px solid rgba(253, 252, 252, 0.08);
    cursor: pointer;
    perspective: 800px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cell_46:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 30px rgba(117, 146, 209, 0.3);
}

.cell_46 span{
    width: 46px;
    height: 46px;
    background: radial-gradient(circle at top, #3b82f6, #1e40af );
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: white;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.5), inset 0 2px 6px rgba(255, 254, 254, 0.3);
    animation: spinDrop 0.45s cubic-bezier(.22,.61,.36,1);
    transform-style: preserve-3d;
    user-select: none;
}
