.outer-wrapper {
  width: 800px;
  height: 500px;
  margin: auto;
  margin-top: 40px;
  position: relative;
  overflow: hidden;
  border: 3px solid #0a2d6b;
  border-radius: 20px;
  background: white;
}

.step-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.step-item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

  display: flex;
  flex-direction: row; /* DEFAULT: image right */
  align-items: center;
  justify-content: center;
  gap: 30px;

  opacity: 0;
  transform: translateX(120px);
  filter: blur(12px);
  transition: all 0.7s ease-in-out;
}

/* Active animation */
.step-item.active {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

/* Switch sides (Step 2 & 4) */
.step-item.reverse {
  flex-direction: row-reverse;
}

.img-box {
  width: 48%;
}

.step-image {
  width: 100%;
  height: 85%;
  object-fit: cover;
  border-radius: 15px;
}

.text-box {
  width: 40%;
  color: #0a2d6b;
}

.text-box h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.text-box p {
  font-size: 18px;
  line-height: 1.4;
}

/* Buttons */
.controls {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.controls button {
  padding: 8px 20px;
  background: #0a2d6b;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

.dots {
  position: absolute;
  left: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  background: #777;
  border-radius: 50%;
  transition: 0.3s;
}

.active-dot {
  background: #0a2d6b;
  transform: scale(1.4);
}
