.game-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

.score {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  color: rgb(10, 10, 10);
}

.container {
  width: 400px;
  height: 450px;
  background: url(Images/background.jpg);
  border-radius: 16px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.target-base {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 100px;
  left: 100px;
  transition: transform 0.03s linear;
}

.target {
  position: absolute;
  width: 100px;
  height: 100px;
  background: linear-gradient(to right, rgb(255, 208, 0), rgb(0, 255, 136));
  border-radius: 50%;
  top: 50px;
  left: 50px;
}

/* Knife */
.knife {
  position: absolute;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 25px auto;
}

/* Knives stuck into target */
.knife-stuck {
  top: 0;
  left: 0;
}

/* Flying knife animation */
.knife-flying {
  position: absolute;
  left: 100px;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 25px auto;
}

/* Knife ready to throw */
.knife-bottom {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 25px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateX(-50%);
}

/* Overlay for game over */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  border-radius: 16px;
}

.overlay button {
  margin-top: 15px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background: #0baf75;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
