.phone {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pattern-box {
  width: 350px;
  height: 450px;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}

.pattern-box::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("https://i.pinimg.com/1200x/b6/17/ab/b617abdbe4bf291ea6917896e14fe229.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  transform: scale(1.1);
  z-index: 0;
}

.pattern-box > * {
  position: relative;
  z-index: 1;
}

.text {
  margin-top: 18px;
  color: #0f0f0f;
  font-size: 15px;
  font-family: system-ui, sans-serif;
  font-weight: 500;
}
